<div id="weather-container">
    <div id="icon" data-bind="style: { 'background': iconUrl, 'background-repeat':'no-repeat'}"></div>
    <span id="measure" >24</span><span class="wob_t" style="display:inline" aria-label="°Celsius">°C</span>
</div>

<div class="ui card">
  <div class="row">
    <div class="ui four cards mx-4 my-2">
      <a class="black card" id="weather-img-cover">
        <div class="image">
          <img src="https://www.metaweather.com/static/img/weather/hr.svg">
        </div>
      </a>
    </div>
    <div class="col-md-6 mt-3">
      <div class="row">
        <h1 class="mt-4 ml-4 text-center">20 <span class="font-weight-light">&#x2103;</span></h1>
      </div>
      <div class="row">
        <p class="text-center">Today its rainy</p>
      </div>
    </div>
  </div>
</div>
