
<div class="card">
  <div id="weather-img-cover">
    <a>
      <div class="image" id="icon" data-bind="style: { 'background': iconUrl, 'background-repeat':'no-repeat'}"></div>
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <h6>Current Temperature:</h6> <span>
      <h1 class="mt-4 ml-4 text-center" data-bind="text:tempMeasure"></h1>
    </span>
      <h4>&#x2103;</h4>
    </div>

    <div class="row">
      <h6>Max Temperature:</h6> <span>
      <h1 class="mt-4 ml-4 text-center" data-bind="text:maxTemp"></h1>
    </span>
      <h4>&#x2103;</h4>
    </div>

    <div class="row">
      <h6>Min Temperature:</h6> <span>
      <h1 class="mt-4 ml-4 text-center" data-bind="text:minTemp"></h1>
    </span>
      <h4>&#x2103;</h4>
    </div>

    <div class="row">
      <p class="text-center" data-bind="text: description" id="description"></p>
    </div>
  </div>
</div>
